
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>TN748MMP9M</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>Apple Distribution: Rohini Mallavarapu (TN748MMP9M)</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.genstyle.app</key>
        <string>Gen Style</string>
    </dict>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
    <key>destination</key>
    <string>export</string>
    <key>compileBitcode</key>
    <false/>
    <key>iCloudContainerEnvironment</key>
    <string>Production</string>
</dict>
</plist>
